@import '../abstract/variaveis';

.input-login {
  border: none;
  border-radius: 50px;
  border: 1px solid $color-branco;
  padding: 1rem;
  background: transparent;
  outline: none;
  width: 100%;
  margin-bottom: 1.2rem;
  color: $color-second;
}

.input-button {
  margin-top: 2rem;
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 1rem;
  background: $background-button;
  box-shadow: $sombra-button;
  color: $color-branco;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
  font-weight: 700;
}