//Variaveis

$background-login: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
$sombra-login: 4px 4px 70px rgba(0, 0, 0, 0.25);
$color-second: #E0E0E0;
$background-button: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
$sombra-button: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
$color-login-error: #E9B425;
$color-hora: #222222;
$font-color-home: #C12D18;
$color-branco: #FFFFFF;